{erl_opts, [debug_info]}.
{deps, [
    {ossp_uuid, {git, "https://github.com/timclassic/erlang-ossp-uuid.git", {branch, "master"}}}
]}.

{overrides, [
    {override, ossp_uuid, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}}
            ]}
        ]}
    ]}
]}.
